<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="<%= root_path %>">FitFor2</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="<%= root_path %>">Početna <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= druga_path %>">O nama</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= clanstvo_path %>">Članstvo i termini</a>
      </li>

    <li class="nav-item">
    <a class="nav-link" href="<%= zanimljivosti_path %>">Zanimljivosti</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="<%= forum_path %>">Forum</a>
</li>
    </ul>
  </div>
</nav>

